.section-1 {    
    background-image: url(../img/background-img.jpeg);
    width: 100%;
    height: 487.19px;
    padding-top: 130px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: -150px;
    background-repeat: no-repeat;
}

.section1-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: auto;
}

.section1-txt {
    width: 45%;
}

.section1-txt h1 {
    color: white;
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    line-height: 1.2;
    letter-spacing: 2px;
}

.section1-txt span {
    color: #C49D5F;
}

.section1-txt p {
    color: white;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0;
    padding-bottom: 20px;
    padding-right: 100px;
}

.section1-txt button {
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    border: #C49D5F 2px solid;
    font-size: 14px;
    width: 200px;
    height: 64px;
    cursor: pointer;
    transition: 0.5s;
}

.section1-txt button:hover {
    background-color: #C49D5F;
}

@media screen and (max-width: 1230px) {
    .section-1 {
        height: 350px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-position: 0;
        background-size: cover;
    }

    .section1-block {
        width: 95%;
    }

    .section1-block img {
        width: 55%;
    }

    .section1-txt {
        width: 40%;
    }

    .section1-txt h1 {
        font-size: 36px;
    }

    .section1-txt p {
        font-size: 11px;
    }

    .section1-txt button {
        width: 30%;
        margin: 0;
        font-size: 12px;
        height: 45px;
    }
}

@media screen and (max-width: 885pxpx) {
    .section-1 {
        height: 300px;
        padding-top: 80px;
    }

    .section1-block {
        justify-content: space-between;
    }

    .section1-block img {
        width: 354px;
        height: 178.86px;
    }

    .section1-txt {
        width: 45%;
    }

    .section1-txt p {
        padding: 0 40px 20px 0;
    }

    .section1-txt button {
        width: 35%;
    }
}

@media screen and (max-width: 767px) {
    .section-1 {
        height: 500px;
        padding: 30px 0;
    }

    .section1-block {
        flex-wrap: wrap;
    }

    .section1-block img {
        width: 90%;
        margin: auto;
    }

    .section1-txt {
        width: 95%;
        padding-top: 10px;
        margin: auto;
    }

    .section1-txt h1 {
        font-size: 28px;
    }
}